# Node
node_modules/

# Expo
.expo/
.expo-shared/

# iOS
ios/
ios/Pods/
ios/build/

# Android
android/
android/.gradle
android/.idea
android/app/build/

# EAS Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.easignore

# Environment variables
.env.local
.env.production

# Misc
.vscode/
.env
.DS_Store
npm-debug.log
yarn-error.log
